.btn {
    display: flex;
    padding: 0;

    cursor: pointer;
    margin: 50px 100px;
    padding: 10px 15px;
    border-radius: 1px;
    text-transform: uppercase;
    background-color: blue;
    color: white;
}

.btn:hover {
    box-shadow: 0px 2px 8px 2px rgba(141, 150, 178);
}

.btn_text {
    margin-right: 10px;
}

.btn_icon {
    width: 15px;
    height: 15px;
    font-size: 15px;
}

